@import "../css/gallery-grid.css";
.services {
  background-color: #E9E0DB;
  padding: 50px 0px;
}
body{
  overflow-x: hidden
}
.dropdown-menu{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.dropdown-menu:hover{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.dropdown-item{
  color: #fff;
}
.dropdown-item:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.navbar-brand{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 32px
}
.gallery {
  background-color: #FFFAF4;
  padding: 50px 0px;
  height: auto;
}

.titles {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  padding-bottom: 30px;
}

* {
  margin: 0px;
  padding: 0px;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-family: "Open Sans", sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.carousel-caption h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 50px;
}
.carousel-caption h2 span {
  color: #FFDB0E;
}
.carousel-caption p {
  color: #FFA601;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: light;
}

.service {
  display: flex;
}

.serviceKit {
  background-color: #C8BFB6;
  margin: 0px 50px;
  padding: 30px 10px;
  margin-bottom: 10px;
}
.serviceKit .fontAwe {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
}
.serviceKit .fontAwe i {
  margin-top: 25%;
}

.galleryImg {
  overflow-x: hidden;
}

#map iframe {
  height: 50vh;
  width: 100%;
  border: 0px;
}
#map .col {
  padding-right: 0px;
  padding-left: 0px;
}

footer {
  background-color: #FFFAF4;
  padding-top: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #909090;
  text-decoration: none;
}
.copy{
  font-size: 12px;
}
footer p{
  margin-bottom: 0px
}
@media (max-width: 318px) {
  .h1 {
    font-size: 45px;
  }

  .sss {
    font-size: 23px;
    color: black;
  }
  .sss a {
    font-size: 18px;
    font-weight: 600;
  }

  .smsm {
    margin-top: 50px;
  }
}
@media (min-width: 318.89px) and (max-width: 478px) {
  .h1 {
    font-size: 50px;
  }

  .sss {
    font-size: 25px;
    color: black;
  }
  .sss a {
    font-size: 22px;
    font-weight: 600;
  }

  .smsm {
    margin-top: 50px;
  }
}
@media (min-width: 478.89px) and (max-width: 569px) {
  .sss {
    font-size: 20px;
    color: black;
  }
  .sss a {
    font-size: 16px;
    font-weight: 600;
  }

  .smsm {
    margin-top: 0px;
  }
}
@media (min-width: 569.89px) and (max-width: 575.98px) {
  .h1 {
    font-size: 45px;
  }

  .small {
    font-size: 20px;
    font-weight: 600;
  }

  .smsm {
    margin-top: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .sss {
    font-size: 22px;
    color: black;
  }
  .sss a {
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sss {
    font-size: 24px;
    color: black;
  }
  .sss a {
    font-weight: 600;
  }

  footer a {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
